import request from '@/utils/request'

// 查询${tableComment}列表
export function list${className}(query) {
  return request({
    url: '/${moduleName}/${classname}/list',
    method: 'get',
    params: query
  })
}

// 查询${tableComment}详细
export function get${className}(${primaryKey.propertyName}) {
  return request({
    url: '/${moduleName}/${classname}/' + ${primaryKey.propertyName},
    method: 'get'
  })
}

// 新增${tableComment}
export function add${className}(data) {
  return request({
    url: '/${moduleName}/${classname}',
    method: 'post',
    data: data
  })
}

// 修改${tableComment}
export function update${className}(data) {
  return request({
    url: '/${moduleName}/${classname}',
    method: 'put',
    data: data
  })
}

// 删除${tableComment}
export function del${className}(${primaryKey.propertyName}s) {
  return request({
    url: '/${moduleName}/${classname}/' + ${primaryKey.propertyName}s,
    method: 'delete'
  })
}

// 导出${tableComment}
export function export${className}(query) {
  return request({
    url: '/${moduleName}/${classname}/export',
    method: 'post',
    params: query,
    responseType: 'blob'
  })
}
